<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameApp"
        tools:targetApi="31">


        <activity
            android:name=".SOLO.Entrainement.BreishQuiz.QuizActivity"
            android:exported="false" />

        <activity
            android:name=".SOLO.Entrainement.CatchMe.CatchMeGame"
            android:exported="false" />
        <activity
            android:name=".SOLO.Entrainement.ShakeIt.ShakeItGame"
            android:exported="false" />
        <activity
            android:name=".SOLO.GameListActivity"
            android:exported="true" />

        <activity
            android:name=".SOLO.Entrainement.BoatGame.BoatGameActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>

        <activity
            android:name=".SOLO.Entrainement.Pong.PongGameActivity"
            android:exported="true" />

        <activity
            android:name=".MULTIPLAYER.GameListActivity2"
            android:exported="true" />

        <activity
            android:name=".MULTIPLAYER.ShakeIt.ShakeItGame"
            android:exported="false" />

        <activity android:name=".SOLO.DefisAleatoires.TroisDefisAleatoiresActivity" />

        <activity android:name=".SOLO.Entrainement.GamesSoloActivity" />

        <activity android:name=".SOLO.Entrainement.LogoQuiz.LogoQuizActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SOLO.Entrainement.LogoQuiz.LogoQuizScoreActivity" />


        <activity
            android:name=".SOLO.DefisAleatoires.BreishQuiz.QuizActivity"
            android:exported="false" />

        <activity
            android:name=".SOLO.DefisAleatoires.CatchMe.CatchMeGame"
            android:exported="false" />
        <activity
            android:name=".SOLO.DefisAleatoires.ShakeIt.ShakeItGame"
            android:exported="false" />

        <activity
            android:name=".SOLO.DefisAleatoires.BoatGame.BoatGameActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>

        <activity
            android:name=".SOLO.DefisAleatoires.Pong.PongGameActivity"
            android:exported="true" />


        <activity android:name=".SOLO.DefisAleatoires.LogoQuiz.LogoQuizActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SOLO.DefisAleatoires.LogoQuiz.LogoQuizScoreActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>